body {
	padding: 0.5em;
	font-family: sans-serif;
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex>* {
	margin: 0.25em;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

#bits>tr {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

#bits>tr>td {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#bits>tr>td>div {
	padding: 0.25em 0;
	width: 2.5em;
}

#bits>tr>td>div:first-of-type {
	border: thin solid;
	border-right: none;
}

#bits>tr>td:last-of-type>div:first-of-type {
	border-right: thin solid;
}

input,
select {
	text-align: center;
}

input[type="text"] {
	min-width: 3.5em;
	width: 3.5em;
}

#sign {
	min-width: 1.75em;
	width: 1.75em;
}

.int-sign-bit {
	background-color: #bfb;
}

.int-sign-bit:hover {
	background-color: #9d9;
}

.int-bit {
	background-color: #fbb;
}

.int-bit:hover {
	background-color: #d99;
}

.float-sign-bit {
	background-color: #bbf;
}

.float-sign-bit:hover {
	background-color: #99d;
}

.float-exponent-bit {
	background-color: #bfb;
}

.float-exponent-bit:hover {
	background-color: #9d9;
}

.float-fraction-bit {
	background-color: #fbb;
}

.float-fraction-bit:hover {
	background-color: #d99;
}
