body {
	padding: 0.5em;
	font-family: sans-serif;
	text-align: center;
	color #000;
	background-color: #fff;
}

.flex {
	margin: 0.25em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex>* {
	margin: 0.25em;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

#bits>tr {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

#bits>tr>td {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#bits>tr>td>div {
	padding: 0.25em 0;
	width: 2.5em;
}

#bits>tr>td>div:first-of-type {
	border: 1px solid #000;
	border-right: none;
}

#bits>tr>td:last-of-type>div:first-of-type {
	border-right: 1px solid #000;
}

input,
select {
	border-color: #000;
	border-radius: 0.25em;
	text-align: center;
}

input:hover,
select:hover {
	background-color: #eee;
}

input:active,
select:active {
	background-color: #ddd;
}

input[type="text"] {
	min-width: 3.5em;
	width: 3.5em;
}

#sign {
	min-width: 1.75em;
	width: 1.75em;
}

.int-sign-bit {
	background-color: #bfb;
}

.int-sign-bit:hover {
	background-color: #aea;
}

.int-sign-bit:active {
	background-color: #9d9;
}

.int-bit {
	background-color: #fbb;
}

.int-bit:hover {
	background-color: #eaa;
}

.int-bit:active {
	background-color: #d99; 
}

.float-sign-bit {
	background-color: #bbf;
}

.float-sign-bit:hover {
	background-color: #aae;
}

.float-sign-bit:active {
	background-color: #99d;
}

.float-exponent-bit {
	background-color: #bfb;
}

.float-exponent-bit:hover {
	background-color: #aea;
}

.float-exponent-bit:active {
	background-color: #9d9;
}

.float-fraction-bit {
	background-color: #fbb;
}

.float-fraction-bit:hover {
	background-color: #eaa;
}

.float-fraction-bit:active {
	background-color: #d99;
}
